<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animasion.css') }}">

   
    
</head>
<body>


    
    <h1>LEKSER</h1>
    <div class="tabell">
        <table>
            <tr>
                <th>Frist</th>
                <th>Fag</th>
                <th>Oppgave</th>
                <th>Slett</th>
            </tr>
            {% for index in indexes %}
            <tr>
                
                <td>{{ frist[index][:10] }}</td>
                <td>{{ fag[index] }}</td>
                <td>{{ oppgave[index] }}</td>
                <td>
                <form action="{{ url_for('delete_homework', homework_id=ids[index]) }}" method="POST" >
                    <button type="submit">Slett</button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button><a class="btn" href="{{ url_for('lag_lekse') }}">Lag_lekse</a></button>


    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>
